@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

body {
  min-height: 100vh;
  background-color: rgb(232, 232, 232);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main form {
  background-color: #fff;
  min-height: 90vh;
  min-width: 30rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-family: "Yusei Magic", sans-serif;
}

main form h1 {
  margin-top: 1rem;
  font-size: 3rem;
}
